/* Style for the navigation bar */
nav {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif; /* Change the font family to your preferred font */
  margin-bottom: 5rem; /* Add space below the nav bar */
}

/* Style for the navigation list */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Style for the navigation list items */
nav ul li {
  margin: 0 11rem; /* Adjust the space between menu items */
}

/* Style for the navigation links */
nav ul li a {
  font-size: 4rem; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
  text-decoration: none;
  color: transparent; /* Make the text hollow by setting the color to transparent */
  -webkit-text-stroke: 1px black; /* Add a text stroke */
}

/* Style for the active navigation link */
nav ul li.active a {
  /*text-decoration: underline;*/
  color: black; /* Set the color to a solid color for the selected link */
  -webkit-text-stroke: 0; /* Remove the text stroke for the selected link */
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px; /* Adjust the max-width as needed */
  gap: 4rem;
}

.col {
  flex: 0 0 calc(33.333% - 2rem);
  margin: 1rem;
  box-sizing: border-box;
}

.index-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.project-img-container {
  width: 100%;
  height: 250px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.project-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit; /* To inherit the text color from the parent element */
}

.project-link:hover {
  text-decoration: underline;
}


.index-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(50%); /* Add this line to make the images desaturated */
  transition: filter 0.6s; /* Change opacity to filter for a smooth hover effect */
}

.project-link:hover .index-img {
  filter: grayscale(0%); /* Add this line to make the images fully saturated on hover */
}

/* Style for the navigation links on smaller screens */
@media screen and (max-width: 950px) {
  nav ul li a {
    font-size: 2.5rem; /* Reduce the font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  nav ul li a {
    font-size: 1.5rem; /* Reduce the font size even more for very small screens */
    -webkit-text-stroke: 0.5px black; /* Add a text stroke */
  }
}

/* Style for the navigation list items on smaller screens */
@media screen and (max-width: 950px) {
  nav ul li {
    margin: 0 4rem; /* Reduce the space between menu items for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  nav ul li {
    margin: 0 2rem; /* Reduce the space between menu items even more for very small screens */
  }
}

/* Add media queries for responsiveness */
@media screen and (max-width: 992px) {
  .col {
    flex-basis: calc(50% - 1rem);
    margin: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .col {
    flex-basis: calc(100% - 1rem);
    margin: 0.5rem;
  }
}

/* Add media queries for responsiveness */
@media screen and (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* Display projects in 2 columns on medium screens */
  }

  .col {
    flex-basis: calc(50% - 1rem);
    margin: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Display projects in a single column on small screens */
  }

  .col {
    flex-basis: 100%; /* Set the column width to 100% on small screens */
    margin: 0.5rem;
  }
}
